@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Simple Test</title>
</head>
<body>
    <h1>GuhaStore - Simple Test</h1>
    <p>Application is working!</p>
    <p>Current time: @DateTime.Now</p>
</body>
</html>
