@using Microsoft.AspNetCore.Http
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img src="@Url.Content("~/logo.png")" alt="GuhaStore" class="logo-img" />
                </a>
            </div>

            <nav class="nav">
                <a href="/">Trang Chủ</a>
                <a href="/products">Sản Phẩm</a>
                <a href="/cart">Giỏ Hàng(<span id="cartCount">@(Context.Session.GetInt32("CartCount") ?? 0)</span>)</a>

                @if (Context.Session.GetInt32("UserId") != null)
                {
                    @if (Context.Session.GetString("UserRole") == "admin")
                    {
                        <a href="/Admin" class="admin-link">Trang Quản Lý</a>
                    }
                    <span class="topbar-username">Xin chào, @Context.Session.GetString("Username")</span>
                    <form asp-action="Logout" asp-controller="Account" method="post" class="topbar-logout-form">
                        <button type="submit" class="topbar-logout-btn">Đăng Xuất</button>
                    </form>
                }
                else
                {
                    <a href="/register" class="topbar-link">Đăng Ký</a>
                    <a href="/login" class="topbar-link">Đăng Nhập</a>
                }
            </nav>
        </div>
    </div>
</header>


